
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    color: #000;
    overflow-x: hidden;
  }


.main-name{

    font-size: 3.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.name-style{
    background: linear-gradient(90deg, black  ,rgb(227, 24, 24) , rgb(249, 192, 192) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.name-style-dark{
    background: linear-gradient(90deg, rgb(255, 0, 0)  ,rgb(113, 23, 23) , rgb(36, 22, 22) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.left-side{
    width: 50%;
}
.des{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    width: 60%;
    color: rgb(117, 116, 114);
    padding: 1px;
}

.resume-btn{
    display: flex;

    align-items: center;
    justify-content: center;
    background-color: black;
    color: rgb(247, 247, 247);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 110px;
    padding: .5rem;
    border-radius: 18px;
    margin-right: 12px;
    margin-top: 10%;

}

.resume-btn-dark{
    display: flex;

    align-items: center;
    justify-content: center;
    background-color:#ffffff;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 110px;
    padding: .5rem;
    border-radius: 18px;
    margin-right: 12px;
    margin-top: 10%;
}
.a-link{
    text-decoration: none;
    color:#ffffff;

}
.a-link-dark{
    text-decoration: none;
    
    
    color: #000000;
}

.a-link2{
    text-decoration: none;
    color:#000000;

}
.a-link-dark2{
    text-decoration: none;
    color: #ffffff;
}
.contact-btn{
    display: flex;

    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 110px;
    padding: .5rem;
    border-radius: 18px;
    margin-top: 10%;
}
.contact-btn-dark{
    display: flex;

    align-items: center;
    justify-content: center;
    background-color: black;
    color: rgb(247, 247, 247);
    border: 2px solid rgb(247, 247, 247);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 110px;
    padding: .5rem;
    border-radius: 18px;
    margin-top: 10%;
}
.contact-btn:hover{
    background-color: #f3f3f3;
}
.btn-container{
    display: flex;
   
    width: 40%;
    
}
.container-dark{
    background-color: #000000;
    color: #ffffff;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    animation: fadeIn 2s forwards;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}





.caption{

    background-color: rgb(206, 206, 206);
    color: black;
    width: 280px;
    padding: .3rem;
    border-radius: 18px;
    margin-bottom: 0px;
    text-align: center;
}

.apps{
    display: flex;
    align-items: center;
    margin-top: 10px;

}
.app{
    margin-right: 1rem;
}


.img-container {
    position: relative;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 18px rgba(0, 229, 255, 0.5);
    animation: pulseGlow 7.5s infinite ease-in-out;
  }
  
  @keyframes pulseGlow {
    0%, 100% {
      box-shadow: 0 0 15px rgba(255, 0, 0, 0.4);
    }
    50% {
      box-shadow: 0 0 50px rgba(255, 0, 30, 0.9);
    }
  }
  
  .photo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
  }
  

  .icons{
    color: #000000;
  }

  .icons-dark{
    color: #ffffff;
  }




  @media All and (max-width: 768px){


    .container, .container-dark{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      
    }
    .left-side{
        width: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       padding-bottom: 5%;
       text-align: center;
        
    }
    .btn-container{
        padding-left: 10%;
    }


    
}

